/* место для вашего кода */
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  height: 105px;
  margin: 92px 0 91px;
  padding-left: 24px;
  padding-right: 24px;
}

.nav__list {
  display: flex;
  list-style-type: circle;
}

.nav__item {
  margin-right: 32px;
}

.nav__link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__info {
  margin-right: 30px;
}

.header__info-phone,
.header__info-email,
.header__info-adress {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  /* 135% */
}

.header__logo {
  padding-right: 6px;
  padding-left: 6px;
}

.header__logo-link {
  width: 148px;
  height: 105px;
  margin-right: 184px;
}

.header__info-email,
.header__info-phone {
  display: block;
}

.nav__item:first-child {
  margin-left: 34px;
  list-style-type: none;
  /* убрал маркер у первого элемента */
}

/* cover */
.cover {
  position: relative;
  z-index: 0;
  min-height: 747px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.cover::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.5);
}

.cover__container-title-left {
  display: block;
  width: 1052px;
  padding-top: 169px;
  padding-left: 57px;
}

.cover__span-interval {
  display: inline-block;
  margin-left: 30px;
}

.cover__container-title-center {
  display: block;
  width: 1052px;
  padding-top: 24px;
  padding-left: 339px;
}

.cover__container-title-right {
  display: block;
  width: 1052px;
  padding-top: 19px;
  padding-left: 10px;
  margin-left: 18px;
  text-align: end;
}

.cover__title-span {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 28px;
  text-transform: uppercase;

}

.cover__container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 132px;
}

.cover__container-description {
  margin-left: 53px;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  /* 127.273% */
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
}

.cover__container-btn {
  width: 252px;
  height: 52px;
  margin-right: 21px;
  border: 2px solid #FFF;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  /* Прозрачный цвет фона */
}

/* lots */
.lots {
  width: 1034px;
  min-height: 682px;
  margin-top: 173px;
  margin-right: 33px;
  margin-left: 33px;
}

.lots__title {
  margin-left: 36px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  text-decoration-line: underline;
}

.lots__container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.card-title {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  /* 26.4px */
  text-transform: uppercase;
  text-decoration-line: underline;
}

.card-description {
  margin-right: 35px;
  margin-bottom: 43px;
  margin-left: 39px;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  /* 24px */

}

.card-title {
  margin-top: 48px;
  margin-right: 35px;
  margin-left: 39px;
}

.lots__container-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 328px;
  min-height: 554px;
}

.lots__container-card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.5);
}

.card-film {
  background-image: url(../images/photo.png);
  background-size: cover;
  background-position: center;

}

.card-book {
  background-image: url(../images/photo\ \(2\).png);
  background-size: cover;
  background-position: center;
}

.card-picture {
  background-image: url(../images/photo\ \(1\).png);
  background-size: cover;
  background-position: center;
}

.lots__link {
  display: block;
  margin-top: 29px;
  margin-left: 39px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

/* about */
.about {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  width: 1100px;
  margin-top: 179px;
}

.about__container-left {
  margin-right: 70px;
  margin-left: 54px;
}

.about__container-right {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 705px;
}

.about__container-right-title {
  margin-top: 95px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__container-right-description {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about__container-right-description:last-child {
  margin-top: 20px;
}

/* ниже готовое лого НЕ ТРОГАТЬ */
.about__container-left-black-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  background-color: #000;
}

.about__container-left-logo {
  width: 148px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 984px;
  min-height: 97px;
  margin-top: 177px;
  margin-right: 58px;
  margin-left: 58px;
  margin-bottom: 89px;
}

.footer__info-phone {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  /* 135% */
}

.footer__container-social {
  display: flex;
  width: 237px;
  height: 48px;
  margin-bottom: 53px;
}

.footer__info-email {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  /* 135% */
}

.footer__info-adress {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  /* 135% */
}

.footer__container-social-youtube,
.footer__container-social-vk,
.footer__container-social-pinterest {
  height: 48px;
  display: block;
}

.footer__nav__link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.footer__info-email,
.footer__info-phone {
  display: block;
}

.footer__nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__info {
  margin-bottom: 4px;
}

.footer__nav {
  margin-bottom: 37px;
}

.footer__container-social-youtube {
  margin-right: 48px;
}

.footer__container-social-vk {
  margin-left: 1px;
}

.footer__container-social-pinterest {
  margin-left: 31px;
}

/* декор и доделки */
.footer__nav__link-activ,
.nav__link-activ {
  text-decoration: none;
}
