/* Шапка */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 92px 51px;
    font-size: 18px;
    font-weight: 400;
}

.header__menu { justify-self: start; }

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item { list-style: circle; }
.header__links-list-item_no-bullit { list-style: none; }

.header__link {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}
.header__link_active { border-bottom: none; }

.header__logo { display: block; width: 148px; }
.header__logo-image { width: 100%; height: auto; }

.address {
    max-width: 240px;
    font-style: normal;
    line-height: 24.3px;
}
.header__address { justify-self: end; }

/* Обложка */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-transform: uppercase;
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 0;
}
.cover__title {
    position: relative;
    z-index: 1;
    margin-bottom: 135px;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 30px;
}
.aligned-text { display: block; text-align: left; }
.aligned-text_center { text-align: center; line-height: 100px; }
.aligned-text_right { text-align: right; line-height: 100px; }

.letter-spacing-extended { letter-spacing: 60px; }
.no-letter-spacing { letter-spacing: 0; }

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
}
.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 18px;
    text-transform: none;
}
.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

/* Лоты */
.lots { padding: 180px 50px 180px; }
.lots__heading {
    margin-bottom: 27px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
}

.lots__card-list-item {
    /* было: flex-grow: 1; width: 430px; */
    flex: 0 0 calc((100% - 50px) / 3);
    min-height: 450px;
}

.card-link { display: block; height: 100%; text-decoration: none; color: inherit; }

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.card_type_film { background-image: url(../images/card-lot-01.jpg); }
.card_type_book { background-image: url(../images/card-lot-02.jpg); }
.card_type_picture { background-image: url(../images/card-lot-03.jpg); }

.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-decoration: underline;
    text-transform: uppercase;
}
.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
    color: inherit;
}

/* Об аукционе */
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
    align-items: start;
}
.about__column { display: flex; flex-direction: column; }
.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #000;
}
.about__logo-image { width: 148px; height: auto; }
.about__title {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

/* Футер */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 50px 90px;
    font-size: 18px;
    font-weight: 400;
    align-items: start;
}
.footer .address { justify-self: start; }
.footer__menu { justify-self: center; }
.footer__menu-list { list-style: none; text-align: center; }
.footer__menu-link { border-bottom: 1px solid currentColor; text-decoration: none; color: inherit; }
.footer__menu-link_active { border-bottom: none; }

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}
.footer__social-link { display: block; }
.footer__social-icon { width: 48px; height: 48px; }
